// 	# 	Markup
// 		Styling for markup

.markdown-section
{
    display: block;
    word-wrap: break-word;
    overflow: hidden;

    line-height: $line-height-base;

    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.markdown-section * 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.markdown-section > *:first-child { margin-top: 0 !important; }
.markdown-section > *:last-child { margin-bottom: 0 !important; }

.markdown-section .glossary-term
{
    cursor: help;
    text-decoration: underline;
}


//	*******************************************************
// 	## Printing
//	*******************************************************

pre, code, blockquote, tr, img, table, figure 
{
    page-break-inside: avoid;
}

p, h2, h3, h4, h5 
{
    orphans: 3;
    widows: 3;
}

h1, h2, h3, h4, h5 
{
    page-break-after: avoid;
}

//	*******************************************************
// 	## Paragraphs
//	*******************************************************

p { @include print( $p-map ); }

//	*******************************************************
// 	## Images
//	*******************************************************

img 
{
    border: 0;
    @include print( $image-map );    
}

//	*******************************************************
// 	## Horizontal lines
//	*******************************************************
hr 
{
    overflow: hidden;
    padding: 0;
    border: none;

    @include print( $hr-map );    
}

//	*******************************************************
// 	## Headings
//	*******************************************************

h1  { @include print( $heading-1-map ); }
h2  { @include print( $heading-2-map ); }
h3  { @include print( $heading-3-map ); }
h4  { @include print( $heading-4-map ); }
h5  { @include print( $heading-5-map ); }
h6  { @include print( $heading-6-map ); }


//	*******************************************************
// 	## Code Blocks
//	*******************************************************

code, pre 
{
	direction: ltr;
	@include print( $code-block-map );
}

pre 
{
    overflow: auto;
    word-wrap: normal;
    @include print( $pre-map );
}

pre > code 
{
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    white-space: pre;

    @include print( $code-block-text-map );

    &:before, &:after { content: normal; }
}

code 
{
    @include print( $code-inline-map );

    &:before, &:after 
    {
        letter-spacing: -0.2em;
        content: "\00a0";
    }
}


//	*******************************************************
// 	## Table
//	*******************************************************

table 
{
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;

	@include print( $table-map );
}

tr 
{
    @include print( $table-tr-map );

    &:nth-child(2n) { @include print( $table-tr-2-map ); }
}

th  { @include print( $table-th-map ); }
td  { @include print( $table-td-map ); }


//	*******************************************************
// 	## Lists
//	*******************************************************

.markdown-section
{
	ul { @include print( $ul-map ); }
	ol { @include print( $ol-map ); }
	ol ol { @include print( $ol-ol-map ); }
	li { @include print( $li-map ); }
}


//	*******************************************************
// 	## Blockquote
//	*******************************************************

blockquote 
{
	@include print( $blockquote-map );

    &:first-child { margin-top: 0; }
    &:last-child  { margin-bottom: 0; }
}


//	*******************************************************
// 	## Description Lists
//	*******************************************************

dl 
{
    padding: 0;
    @include print( $dl-map );
}

dl dt { @include print( $dt-map ); }
dl dd { @include print( $dd-map ); }

dd { margin-left: 0; }


