//	# 	Variables
// 		Definitions for variables used throughout the app

// 	*******************************************************
// 	## Paths
// 		Files paths to various assets
// 	*******************************************************

// Path to static assets
$path-to-assets 					: "/assets" !default;

// 	*******************************************************
// 	## 	Colors
// 		Definitions for colors used throughout the app
// 	*******************************************************

// 	###	Brand colors
// 	The primary accent color 
$color-primary 						: #ff4f4f !default;


// 	###	Gray colors
$color-gray-darkest					: darken( white, 90% ) !default;
$color-gray-darker					: darken( white, 80% ) !default;
$color-gray-dark					: darken( white, 70% ) !default;
$color-gray							: darken( white, 60% ) !default;
$color-gray-light					: darken( white, 40% ) !default;
$color-gray-lighter					: darken( white, 20% ) !default;
$color-gray-lightest				: darken( white, 5% ) !default;


// 	###	Graphic colors
// 	The color of borders
$color-border						: $color-gray-lightest !default;
// 	The color of the BODY element
$color-body-background				: white !default;
// 	The text color of buttons
$color-button						: $color-gray-lighter;
// 	The text color of buttons on hover
$color-button-hover					: $color-gray-dark;

// 	*******************************************************
// 	## 	Structure		*
// 		...
// 	*******************************************************

// The increment of padding used throughout the app
$spacing-unit						: 10px;
// Anything above this width is no longer targetted for mobile styling
$mobileMaxWidth 					: 1240px !default;


// 	*******************************************************
// 	## 	Typography
// 		Defines styles for typography
// 	*******************************************************

// 	###	Text colors
// 	The color of body text
$color-text 						: $color-gray-dark !default;
// 	A muted color for body text
$color-text-muted					: $color-gray-light !default;
// 	The color of headings (H1-H6, titles)
$color-headings						: $color-gray-darkest !default;

// 	###	Font sizes
$font-size-base 					: 16px !default;
$font-size-large					: 1.2rem !default;
$font-size-small 					: 0.8rem !default;

// Heading sizes
$font-size-h1						: 2rem;
$font-size-h2						: 1.6rem;
$font-size-h3						: 1.2rem;
$font-size-h4						: 1rem;
$font-size-h5						: 0.9rem;
$font-size-h6						: 0.8rem;

// Line height
$line-height-base 					: 1.5 !default;

// 	###	Fonts
$font-family-serif 					: Georgia, serif !default;
$font-family-sans 					: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-mono 					: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
$font-family-base                   : $font-family-sans !default;
$font-family-headings              	: $font-family-serif !default;


// 	###	Defintions for "Font Settings" dropdown in header
$font-size-0 						: 0.8rem !default;
$font-size-1 						: 1.0rem !default;
$font-size-2 						: 1.2rem !default;
$font-size-3 						: 1.6rem !default;
$font-size-4 						: 2.4rem !default;

// 	*******************************************************
// 	## 	Elements
// 		Defines stylings for HTML elements
// 	*******************************************************


// Stylings for H1-H6
$heading-map 						: ( 
										color: $color-headings, 
										font-family: $font-family-headings
									) !default;

$heading-1-map						: map-merge( $heading-map, (font-size: $font-size-h1) ) !default;
$heading-2-map						: map-merge( $heading-map, (font-size: $font-size-h2) ) !default;
$heading-3-map						: map-merge( $heading-map, (font-size: $font-size-h3) ) !default;
$heading-4-map						: map-merge( $heading-map, (font-size: $font-size-h4) ) !default;
$heading-5-map						: map-merge( $heading-map, (font-size: $font-size-h5) ) !default;
$heading-6-map						: map-merge( $heading-map, (font-size: $font-size-h6) ) !default;



// Styling for links
$link-map							: ( 
										color: $color-primary,
										text-decoration: none
									) !default;
// Styling for links on hover
$link-hover-map						: ( text-decoration: underline ) !default;


// Styling for P elements
$p-map								: ( line-height: $line-height-base ) !default;

// Styling for HR elements
$hr-map								: (
										height: 4px,
									    margin: $spacing-unit*3 0,
									    background-color: $color-border
									) !default;

// Styling for BLOCKQUOTE elements
$blockquote-map						: (
										margin: 0 0 0 $spacing-unit,
										padding: 0 $spacing-unit * 2,
										color: $color-text-muted,
										border-left: 4px solid $color-border
									) !default;

										

// Styling for image elemnets
$image-map							: ( max-width: 100% ) !default;

// Styling for TABLE elements
$table-map							: () !default;

// Styling for TR elements
$table-tr-map						: (
										background-color: white,
									    border-top: 1px solid $color-gray-lighter
									) !default;
// Styling for even-numbered rows
$table-tr-2-map						: ( background-color: $color-gray-lightest ) !default;

// Styling for TD elements
$table-td-map						: ( 
										
										padding: $spacing-unit/2 $spacing-unit,
									    border: 1px solid $color-gray-lighter
									) !default;

// Styling for TH elements
$table-th-map						: map-merge( $table-td-map, ( font-weight: bold ) ) !default;



// Styling for UL elements
$ul-map								: (
										margin-bottom: $spacing-unit,
									    padding-left: 2em
								    ) !default;
// Styling for OL elements
$ol-map								: (
										margin-bottom: $spacing-unit,
									    padding-left: 2em
								    ) !default;
// Styling for nested OL elements
$ol-ol-map							: ( list-style-type: lower-roman ) !default;

// Styling for LI elements
$li-map								: () !default;

// Styling for dl
$dl-map								: () !default;

// Styling for dt
$dt-map								: (
										padding: 0,
									    margin-top: $spacing-unit,
									    font-style: italic,
									    font-weight: bold
									) !default;
// Styling for 
$dd-map								: (
										padding: 0 $spacing-unit,
									    margin-bottom: $spacing-unit
									) !default;



// Styling for PRE elements
$pre-map								: ( 
											margin: 0px,
										    padding: 0.85em 1em,
										    margin-bottom: $spacing-unit,
										    background: $color-gray-lightest,
										) !default;

// Styling for code block divs
$code-block-map							: ( 
											font-family: $font-family-mono,
										    margin: 0px,
										    padding: 0px,
										    border: none
										) !default;


// Styling for text inside code blocks
$code-block-text-map					: ( 
											font-size: 0.85em,
										    background: transparent
										) !default;


// Styling for inline code snippets
$code-inline-map						: ( 
											padding: 0.2em,
										    margin: 0,
										    font-size: 0.85em,
										    background-color: $color-gray-lightest
										) !default;


// 	*******************************************************
// 	## 	Book 			
// 		Defines styles for the book's body
// 	*******************************************************

// 	Styling for main book div
$book-map							: () !default;
// 	Styling for book body div
$book-body-map						: () !default;
// 	Styling for inner book div
$book-inner-map						: (
										color: $color-text,
										background: $color-body-background
									) !default;

// 	*******************************************************
// 	## 	Page
//      Defines styles for the book's page
// 	*******************************************************

// 	Styling for book body div
$page-map							: () !default;
// 	Styling for book body div
$page-inner-map						: (
										background: white,
										max-width: 800px,
										margin: 0px auto,
										padding: $spacing-unit*3 $spacing-unit*2
									) !default;


// 	*******************************************************
// 	## 	Header
// 		The header above the page that contains buttons/title
// 	*******************************************************

// 	### Header styling
// 	The height of the header
$header-height 							: 50px !default;
// Styling for the header div
$header-map 							: (
											padding: 0px $spacing-unit / 2,
										    color: $color-text,
										    background: transparent
										) !default;

// 	### Header buttons
// Styling for icon buttons
$header-button-map						: ( color: $color-button ) !default;
// Styling for icon buttons on hover
$header-button-hover-map				: ( color: $color-button-hover ) !default;

// 	### Header title
// Permanently hides/shows the title in the header
$header-show-title          			: false !default;
// 	Styling for the title
$header-title-map						: (
											font-size: 1.25rem,
											font-weight: 200
										) !default;


// 	*******************************************************
// 	## 	Navigation
// 		(The Right/Left buttons to change page)
// 	*******************************************************

// Shows/hide the left/right arrows
$navigation-show 						: true !default;
// 	Styling for the left/right arrows
$navigation-map						: (
											max-width: 150px,
											min-width: 90px,
											font-size: 40px,
											color: $color-button
										) !default;
// 	Styling for the left/right arrows on hover
$navigation-hover-map						: (
											text-decoration: none,
											color: $color-button-hover
										) !default;


// 	*******************************************************
// 	## 	Sidebar
// 		The sidebar on the left that contains main nav
// 	*******************************************************

// The width of the entire sidebar
$sidebar-width						: 300px !default;
// Breakpoint to target mobile styling
$sidebar-breakpoint					: 600px !default;
// Amount of time the sidebar animates when toggled
$sidebar-transition-duration		: 250ms !default;

// The increment of padding used throughout the sidebar
$sidebar-padding-unit               : $spacing-unit;
// The amount of horizontal padding for each section of the sidebar
$sidebar-padding-h 					: $sidebar-padding-unit * 1.5;
// The amount of vertical padding for each section of the sidebar
$sidebar-padding-v 					: $sidebar-padding-unit * 2;

// The text color of the sidebar
$sidebar-color 						: hsl(207, 15%, 25%) !default;
// 
$sidebar-font-size					: 0.8em !default;
// The background color of the sidebar
$sidebar-background 				: #fafafa !default;
// The color of right border of the entire sidebar
$sidebar-border-right 				: 1px solid $color-border !default;


// Styling for logo div
$sidebar-logo-map					: (
										background: white,
										border-bottom: 1px solid $color-border
									) !default;

// The height of the logo image
$sidebar-logo-height                : 30px !default;



// The amount of indentation for each level of nav links
$sidebar-nested-padding 			: $sidebar-padding-unit !default;
// Hides/shows nested levels when not active
$sidebar-show-nested-levels 		: false;
// The vertical padding between links
$sidebar-link-padding-v 			: $sidebar-padding-unit !default;
// The horizontal padding on the sides of links
$sidebar-link-padding-h 			: 0 !default;



// Sidebar link headers styling
$sidebar-header-map					: (
										color: #939da3,
										text-transform: uppercase,
										font-family: $font-family-headings
									) !default;
// Headers that are parent to currently active page
$sidebar-header-selected-map		: ( color: $color-primary ) !default;



// Sidebar link styling
$sidebar-link-map					: ( 
										color: $color-text,
										font-family: $font-family-base
									) !default;
// Sidebar link hover styling
$sidebar-link-hover-map				: (
										color: $color-primary,
									    text-decoration: none
									) !default;
// Links that are parent to current page
$sidebar-link-selected-map			: ( font-weight: bold ) !default;



// Sidebar dividers styling
$sidebar-divider-map				: ( background: $color-border ) !default;


// 	*******************************************************
// 	## 	Dropdown		
// 		Defines styling for dropdowns
// 	*******************************************************

$dropdown-zindex 					: 100 !default;
$dropdown-divider-color 			: $color-border !default;
$dropdown-background 				: $sidebar-background !default;
$dropdown-button-color 				: darken($color-button, 15%) !default;
$dropdown-border-color 				: $color-border !default;
$dropdown-button-hover-color 		: $color-button-hover !default;
$dropdown-border-radius             : 1px !default;

// 	*******************************************************
// 	## 	Buttons 			
// 		Defines syling for buttons
// 	*******************************************************

// 	Styling for buttons
$button-map							: (
										padding: $spacing-unit $spacing-unit/2,
									    background: $color-gray-light,
									    color: $color-gray-dark
									) !default;
// 	Styling for buttons on hover
$button-hover-map					: ( color: $color-gray-darker ) !default;



// 	*******************************************************
// 	## 	Search 			*
//      Styles search input and results, works in sync with the "search" plugin
// 	*******************************************************


// The wrapper div around the search input
$search-input-wrapper-map           : ( 
                                        background: #fff,
                                        border-bottom: 1px solid $color-border
                                    ) !default;
// The input for search
$search-input-map                   : (
                                        background: transparent,
                                        border: 1px solid transparent,
                                        padding: $sidebar-padding-unit 0
                                    ) !default;

// Styles the page title for search results
$search-results-title-map           : ( margin-bottom: 35px ) !default;
// Styles the title for search result items
$search-results-item-title-map      : () !default;
// Styles the copy blurb for search result items
$search-results-item-blurb-map      : () !default;


